@charset "utf-8";
/* CSS Document */

/*reset*/
* {
	margin:0;
	padding:0;
}
html, body {
	margin:0;
	padding:0;
	width:100%;
	min-width:1280px;
	font-family: 'Noto Sans KR';		
}
a {
	color:inherit;
	text-decoration:none;
}
ul, li {
	list-style:none;
}

#wrap {
	width:100%;
	position:relative;		
	overflow-x:hidden;
}

/*header*/
#header {
	background:#223148;
	width:100%;
	min-width:1280px;
	height:70px;
	position:fixed;
	z-index:9999;
}
.navi {
	position:relative;
	width:1200px;
	margin:0 auto;
	height:70px;
	top:0;
	padding-top:15px;
	box-sizing:border-box;
}
.gnb {
	font-size:0;
	width:1200px;
	margin:0 auto;	
}
.gnb li {
	width:50%;
	display:inline-block;	
}
.gnb li:first-child {
	text-align:left;
}.gnb li:first-child a img {
	vertical-align:3px;
}
.gnb li:last-child {
	text-align:right;
}
.subNavi {
	background:#30415c;	
	width:150px;
	position:absolute;
	right:0;
	top:70px;
	display:none;
}
.subNavi li {
	width:150px;
	height:45px;
	border-bottom:1px solid #45546d;
}
.subNavi li:last-child {
	border-bottom:none;
}
.subNavi li a {
	color:#fff;
	display:block;
	font-size:15px;
	font-weight:300;
	width:100%;
	height:100%;
	text-align:left;
	padding-left:20px;
	box-sizing:border-box;
	line-height:42px;
}

/*login*/
.login_wrap {
	width:100%;
	height:100%;
	position:fixed;
	z-index:99999;
	background:rgba(0,0,0,0.35);
	display:none;
}
.loginBox {
	width:452px;
	height:372px;
	position:relative;
	top:50%;
	margin-top:-226px;
	left:50%;
	margin-left:-186px;
	background:#fff;
	box-shadow:0px 0px 46px rgba(0,0,0,0.26);
	padding:25px 52px;
	box-sizing:border-box; 
	font-size:0;
}
.loginTitle {
	text-align:center;
	font-size:33px;
	font-weight:500;
	color:#223148;
}
.login_bar {
	display:block;
	width:44px;
	height:2px;
	margin:5px auto 20px;
	background:#223148;
}
.input {
	display:block;
	width:100%;
	height:54px;
	box-sizing:border-box;
	padding-left:15px;
	border:1px solid #c9c9c9;
	background:#fff;
	font-size:15px;
	font-weight:400;
	color:#bababa;
	margin-top:10px;
}
.checkbox {
	width:16px;
	height:16px;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #bcbcbc;
	vertical-align:-3px;
}
.login_form > span {
	width:50%;
	display:inline-block;
	font-size:13px;
	color:#767676;
	vertical-align:text-top;
	font-weight:300;
	margin-top:5px;
}
.login_button {
	display:block;
	width:100%;
	height:54px;
	border:none;
	box-sizing:border-box;
	background:#223148;
	font-size:18px;
	font-weight:500;
	color:#fff;
	margin-top:20px;
}
.close {
	font-size:30px;
	font-weight:400;
	color:#767676;
	position:absolute;
	top:0px;
	right:20px;
}

/*main*/
.main_contents {
	padding-top:70px;	
}
.banner img {
	width:1920px;
	position:relative;
	left:50%;
	margin-left:-960px;	
}
.main_contents .article01 {
	padding:20px 0 30px 0;
	width:1200px;
	margin:0 auto;
	font-size:0;
}


/*sub*/
.contents {
	padding-top:70px;	
}
.banner img {
	width:1920px;
	position:relative;
	left:50%;
	margin-left:-960px;	
}
.contents .article01 {
	padding:20px 0 30px 0;
}
.contents .article01 {
	padding:50px 0 70px 0;
	width:1200px;
	margin:0 auto;
}
.main_contents .article02 {
	background:#f7f7f7;
	padding:50px 0;
}


/*news*/
.main_news {
	display:inline-block;
	width:700px;
	
}
.main_news li {
	font-size:0;
	padding:40px 0 30px 0;
	border-bottom:1px solid #c6c6c6;
	vertical-align:text-top;
}
.main_news li:last-child {
	border-bottom:none;
}
.newsCon {
	width:450px;
	height:180px;
	display:inline-block;	
	vertical-align:top;
}
.newsImg {
	width:250px;
	display:inline-block;
}
.newsImg img {
	max-width:250px;
	max-height:180px;
}

.newsCon h3 {
	font-size:19px;
	color:#223148;
	font-weight:500;
	width:420px;
	border-bottom:1px solid #dfdfdf;
	padding-bottom:7px;
}
.newsCon p {
	width:420px;
	font-size:15px;
	color:#5c5c5c;
	font-weight:400;
	word-break:normal;
	height:85px;
	overflow:hidden;
	margin-top:10px;
}
.newsCon span {
	display:block;
	font-size:13px;
	color:#a6a6a6;
	font-weight:400;
	overflow:hidden;
	margin-top:10px;
}
.main_news li:last-child .newsCon {
	padding-left:30px;
	box-sizing:border-box;
}

.main_news2 {
	display:inline-block;
	width:500px;
	box-sizing:border-box;
	padding-left:40px;
	padding-top:40px;
	vertical-align:top;
}
.main_news2 li {
	font-size:0;
	border-bottom:1px solid #c6c6c6;
	vertical-align:text-top;
}
.main_news2 li:last-child {
	border-bottom:none;
}
.newsCon2 {
	width:450px;
	height:180px;	
	vertical-align:top;
}
.newsImg2 {
        margin-top: 30px;
	width:450px;
	display:inline-block;
}
.newsImg2 img {
	max-width:450px;
	max-height:230px;
}

.newsCon2 h3 {
	font-size:19px;
	color:#223148;
	font-weight:500;
	width:420px;
	border-bottom:1px solid #dfdfdf;
	padding-bottom:7px;
}
.newsCon2 p {
	width:420px;
	font-size:15px;
	color:#5c5c5c;
	font-weight:400;
	word-break:break-all;
	height:85px;
	overflow:hidden;
	margin-top:10px;
}
.newsCon2 span {
	display:block;
	font-size:13px;
	color:#a6a6a6;
	font-weight:400;
	overflow:hidden;
	margin-top:10px;
}
.main_news2 li:last-child .newsCon {
	padding-left:30px;
	box-sizing:border-box;
}


.contents .article02 {
	background:#f7f7f7;
	padding:50px 0;
}
.coList {
	width:1200px;
	margin:0 auto;
	font-size:0;
}
.coList > li {
	display:inline-block;
	width:285px;
	height:173px;
	margin-left:20px;
	background:#fff;
	box-sizing:border-box;
	padding:23px 20px;
}
.coList > li:first-child {
	margin-left:0;
}
.boxTitle {
	width:100%;
	border-bottom:2px solid #223148;
	padding-bottom:5px;
}
.boxTitle span {
	display:inline-block;	
	width:50%;
}
.boxName {
	font-size:16px;
	color:#4b4b4b;
	font-weight:500;
}
.more {
	font-size:13px;
	color:#7b7b7b;
	text-align:right;
}
.company {
	width:100%;
	margin-top:7px;
}
.company li {
	margin:1px 0;	
}
.name, .price, .percent {
	font-size:14px;
	font-weight:400;
	color:#535353;
	display:inline-block;
}
.name {
	width:105px;
	overflow:hidden;	
}
.price {
	width:70px;
	text-align:right;	
}
.percent {
	width:70px;
	text-align:right;
	color:#ec2727
}


/*Technology List*/
rticle02 {
	background:#f7f7f7;
	padding:50px 0;
}
.title {
	color:#223148;
	font-size:30px;
	font-weight:500;
	text-align:center;	
}
.tit_bar {
	display:block;
	width:31px;
	height:2px;
	background:#223148;
	margin:5px auto;
}
.sub_tit {
	text-align:center;
	color:#5c5c5c;
	font-size:15px;
	font-weight:400;	
}
.techList {
	font-size:0;
	width:1200px;
	margin:30px auto 0;	
}
.techList li {
	box-sizing:border-box;
	display:inline-block;
	margin-left:15px;
	width:390px;
	background:#fff;
	border:1px solid #b7b7b7;
}
.techList li:first-child {
	margin-left:0;	
}

/*item*/
.thumbnail {
	width:100%;
	height:250px;
	text-align:center;
	vertical-align:middle;
} 
.thumbnail img {
	max-width:100%;
	max-height:100%;
	border-bottom:1px solid #b7b7b7;
}
.item_txt {
	height:119px;
	border-bottom:1px solid #b7b7b7;
	box-sizing:border-box;
	padding:17px 25px 20px 25px;
}
.item_txt b {
	color:#223148;
	font-size:18px;
	font-weight:600;
}
.item_txt p {
	color:#3c3b3b;
	font-size:17px;
	font-weight:400;
	height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.item_txt p:hover {
	text-decoration:underline;	
}
.item_txt span {
	color:#6e6e6e;
	font-size:14px;
	font-weight:400;
	width:50%;
	display:inline-block;
	margin-top:6px;
}
.date {
	text-align:right;
}
.button {
	font-size:15px;
	color:#656565;
	text-align:center;
	display:block;
	width:388px;
	height:44px;
	line-height:41px;
	transition:0.2s all;
}
.button:hover {
	color:#fff;
	background:#223148;
}
#footer {
	width:100%;
	height:45px;
	line-height:43px;
	text-align:center;
	font-size:15px;
	color:#e5e5e5;
	font-weight:300;
	background:#223148;
}

/*skillDetail*/
.companyInfo {
	text-align:center;
}
.coName {
	font-size:30px;
	font-weight:500;
	color:#223148;
	border-bottom:2px solid #223148;
	padding-bottom:0px;
}
.coInfo {
	font-size:16px;
	font-weight:400;
	color:#616161;
	line-height:25px;
	margin-top:20px;
}

/*techDetail*/
.techDetail {
	width:1200px;
	margin:10px auto 0;
	text-align:left;
	border-top:2px solid #071b50;
}
.techDetail th,
.techDetail td {
	box-sizing:border-box;
	height:50px;
	border-bottom:1px solid #d6d6d6;
	padding-left:15px;
	font-size:16px;
	color:#484848;
}
.techDetail th {
	background:#f6f6f6;
	font-weight:500;
	width:150px;	
}
.techDetail td {
	background:#fff;
	font-weight:400;
	width:250px;	
}
.techTitle {
	font-size:22px;
	font-weight:400;
	color:#223148;
	font-weight:500;
	text-align:center;
}
.techBtn {
	display:inline-block;
	width:200px;
	height:45px;
	line-height:45px;
	font-size:16px;
	font-weight:400;
	color:#5c5c5c;
	text-align:center;
	border:1px solid #c6c6c6;	
	margin-top:15px;
	transition:0.2s all;
}
.techBtn:hover {
	background:#071b50;
	color:#FFF;
}
.techInfo {
	padding:40px 20px 50px 20px;
	font-size:16px;
	font-weight:400;
	color:#535353;
	border-bottom:1px solid #223148;
}

/*consultingBox*/
.consultingBox {
	width:1200px;
	margin:0 auto;
	font-size:0;
	padding:20px 0 20px;
}
.consultingBox li {
	display:inline-block;
	vertical-align:top;
}
.consultingBox li:first-child {
	width:790px;
}
.consultingBox li:last-child {
	padding-top:17px;
}
	
.consultingForm {
	width:740px;
	font-size:0;
	border-top:2px solid #071b50;
}
.consultingForm th,
.consultingForm td{
	box-sizing:border-box;
	height:50px;
	border-bottom:1px solid #d6d6d6;
	padding-left:15px;
	font-size:16px;
	color:#484848;
}
.consultingForm th {
	background:#f6f6f6;
	font-weight:500;
	width:135px;	
}
.consultingFormth th {
	background:#fff;
	font-weight:400;
	width:235px;	
}
.consultingTitle {
	font-size:18px;
	font-weight:400;
	color:#223148;
	font-weight:500;
	text-align:left;
	margin-top:30px;
	margin-bottom:10px;
}
.input2 {
	display:block;
	width:100%;
	height:32px;
	box-sizing:border-box;
	padding-left:15px;
	border:1px solid #c9c9c9;
	background:#fff;
}
.mapBox {
	margin-top:40px;
	
	box-sizing:border-box;
	display:inline-block;
}
.storeList {
	padding:20px;
	border:1px solid #d6d6d6;	
}  
.storeTit {
	font-size:18px;
	font-weight:500;
	color:#223148;
	margin-bottom:5px;
}
.radio {
	width:15px;
	height:15px;
	vertical-align:-3px;
}
.store {
	font-size:14px;
	color:#535353;
	font-weight:400;
	width:50%;
	display:inline-block;
	margin-top:5px;
}
.conBtn {
	display:block;
	background:#223148;
	font-size:18px;
	color:#fff;
	font-weight:400;
	width:150px;
	height:45px;
	line-height:44px;
	margin:0px auto 70px;
	text-align:center;	
}

.myConTitle {
	width:1200px;
	text-align:left;
	margin:0 auto;
	font-size:22px;
	color:#223148;
	font-weight:600;	
}
.techList02 {
	margin-top:10px;
}
.myCon01 {
	padding:40px 0;
	background:#f7f7f7;
}
.myCon02 {
	padding:40px 0;
}
.myConsult {
	width:1200px;
	margin:20px auto 50px;
	border-collapse:collapse;
}
.myConsult th,
.myConsult td {
	height:50px;
	text-align:center;
	font-size:16px;
	border:1px solid #d6d6d6;
	border-collapse:collapse;
	width:14.28%;
}
.myConsult th {
	background:#f6f6f6;
}
.sub_myConTitle {
	width:1200px;
	margin:0 auto;
	display:block;
	text-align:left;
	font-size:16px;
	color:#494949;
	font-weight:400;	
}
.consultBtn {
	width:80px;
	height:30px;
	line-height:28px;
	background:#223148;
	font-size:15px;
	font-weight:400;
	color:#fff;
	display:inline-block;
}
#location {
	display:inline-block;
	width:60%;
	height:32px;
	margin-top:20px;
	box-sizing:border-box;
	padding-left:15px;
	border:1px solid #c9c9c9;
	background:#fff;
}
#btn {
	display:inline-block;
	width:19%;
	border:none;
	font-size:15px;
	font-weight:400;
	height:32px;
	text-align:center;
	color:#fff;	
	background:#223148;
}
#btn2 {
	display:inline-block;
	width:19%;
	border:none;
	margin-left:2%;
	font-size:15px;
	font-weight:400;
	height:32px;
	text-align:center;
	color:#fff;	
	background:#223148;
}

.alarm,
.myp {
   margin-right:20px;
   vertical-align:7px;
   position:relative;
   display:inline-block;
}
.cnt {
   display: block;
   border-radius:50%;
   position:absolute;
   width:18px;
   height:18px;
   top:-9px;
   right:-9px;
   background:#ffae00;
   color:#fff;
   font-size:12px;
   font-weight:400;
   text-align:center;
   line-height:17px;   
}

@media screen and (max-width:1279px) {
#header {
	position:absolute !important;
	top:0;
	left:0;		
}	
}
