@charset "utf-8";
/* CSS Document */

/*reset*/
* {
	margin:0;
	padding:0;
}
html, body {
	margin:0;
	padding:0;
	width:100%;
	min-width:1280px;
	font-family: 'Noto Sans KR';		
}
a {
	color:inherit;
	text-decoration:none;
}
ul, li {
	list-style:none;
}

#wrap {
	width:100%;
	position:relative;		
	overflow-x:hidden;
}

/*header*/
#header {
	background:#223148;
	width:100%;
	min-width:1280px;
	height:70px;
	position:fixed;
	z-index:9999;
}
.gnb {
	font-size:0;
	width:1200px;
	margin:15px auto 0;	
}
.gnb li {
	width:50%;
	display:inline-block;	
}
.gnb li:first-child {
	text-align:left;
}.gnb li:first-child a img {
	vertical-align:3px;
}
.gnb li:last-child {
	text-align:right;
}


/*main*/
.main_contents {
	padding-top:70px;	
}
.banner img {
	width:1920px;
	position:relative;
	left:50%;
	margin-left:-960px;	
}
.main_contents .article01 {
	padding:20px 0 30px 0;
	width:1200px;
	margin:0 auto;
}

/*news*/
.main_news {
	display:inline-block;
	width:700px;
}
.main_news li {
	font-size:0;
	padding:40px 0 30px 0;
	border-bottom:1px solid #c6c6c6;
	vertical-align:text-top;
}
.main_news li:last-child {
	border-bottom:none;
}
.newsCon {
	width:450px;
	height:180px;
	display:inline-block;	
	vertical-align:top;
}
.newsImg {
	width:250px;
	display:inline-block;
}
.newsImg img {
	max-width:250px;
	max-height:180px;
}

.newsCon h3 {
	font-size:19px;
	color:#223148;
	font-weight:500;
	width:420px;
	border-bottom:1px solid #dfdfdf;
	padding-bottom:7px;
}
.newsCon p {
	width:420px;
	font-size:15px;
	color:#5c5c5c;
	font-weight:400;
	word-break:normal;
	height:95px;
	overflow:hidden;
	margin-top:10px;
}
.newsCon span {
	font-size:13px;
	color:#a6a6a6;
	font-weight:400;
	overflow:hidden;
	margin-top:5px;
}
.main_news li:last-child .newsCon {
	padding-left:30px;
	box-sizing:border-box;
}



/*Technology List*/
.main_contents .article02 {
	background:#fafafa;
	padding:50px 0;
}
.title {
	color:#223148;
	font-size:30px;
	font-weight:500;
	text-align:center;	
}
.tit_bar {
	display:block;
	width:31px;
	height:2px;
	background:#223148;
	margin:5px auto;
}
.sub_tit {
	text-align:center;
	color:#5c5c5c;
	font-size:15px;
	font-weight:400;	
}
.news_list {
	font-size:0;
	width:1200px;
	margin:30px auto 0;	
}
.news_list li {
	box-sizing:border-box;
	display:inline-block;
	margin-left:15px;
	width:390px;
	background:#fff;
	border:1px solid #b7b7b7;
}
.news_list li:first-child {
	margin-left:0;	
}

/*item*/
.thumbnail {
	width:100%;
	height:250px;
	text-align:center;
	vertical-align:middle;
} 
.thumbnail img {
	max-width:100%;
	max-height:100%;
	border-bottom:1px solid #b7b7b7;
}
.item_txt {
	height:119px;
	border-bottom:1px solid #b7b7b7;
	box-sizing:border-box;
	padding:17px 25px 20px 25px;
}
.item_txt b {
	color:#223148;
	font-size:18px;
	font-weight:600;
}
.item_txt p {
	color:#3c3b3b;
	font-size:17px;
	font-weight:400;
	height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.item_txt p {
	color:#3c3b3b;
	font-size:17px;
	font-weight:400;
	height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.item_txt p:hover {
	text-decoration:underline;	
}
.item_txt span {
	color:#6e6e6e;
	font-size:14px;
	font-weight:400;
	width:50%;
	display:inline-block;
	margin-top:6px;
}
.date {
	text-align:right;
}
.button {
	font-size:15px;
	color:#656565;
	text-align:center;
	display:block;
	width:388px;
	height:44px;
	line-height:41px;
}
.button:hover {
	color:#fff;
	background:#223148;
}
#footer {
	width:100%;
	height:45px;
	line-height:43px;
	text-align:center;
	font-size:15px;
	color:#e5e5e5;
	font-weight:300;
	background:#223148;
}

@media screen and (max-width:1279px) {
#header {
	position:absolute !important;
	top:0;
	left:0;		
}	
}